#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid;
  text-align: center;
  font-size: x-large;
}
.error {
  border-color: red;
}

.cell:focus {
  outline: none;
}

/* .cell[data-y="2"] {
  border-bottom: 2px solid black;
} */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  margin: 1rem;
}
